<div class="d-none d-md-block" style="width: 100%; height: 50px; overflow: hidden;">
  <img src="assets/Images/game3.png" alt="Game Image" style="width: 100%;">
</div>

<div class="container d-flex flex-column align-items-center">
  <div class="mt-3">
    <div class="btn btn-success me-2" (click)="playNewGame()"> Play New Game</div>
    @if(this.gameIsFinished)
    {
    <div class="btn btn-primary" (click)="playAgain()"> Play Again</div>
    }
  </div>

  <div class="align-center">
    <div class="card player-form">
      <div class="player-header-1">
        <p class="player-header-p">Player 1</p>
      </div>
      <div class="m-4">
        <h3>{{this.currentGame?.player1Name}}</h3>
        @if(current_turn == 1)
        {
        <div class="d-flex align-items-center">
          <div class="circle me-2"></div>
          <label class="turn">It's your turn</label>
        </div>
        }
      </div>
    </div>

    <div class="d-none d-md-block">
      <img src="assets/Images/vs.png" alt="vs Image" style="width: 100px; height: 100px;">
    </div>

    <div class="card player-form">
      <div class="player-header-2">
        <p class="player-header-p">Player 2</p>
      </div>
      <div class="m-4">
        <h3>{{this.currentGame?.player2Name}}</h3>
        @if(current_turn == 2)
        {
        <div class="d-flex align-items-center">
          <div class="circle me-2"></div>
          <label class="turn">It's your turn</label>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="game">
    <div class="card d-flex align-center">
      <div class="game-card-header">
        @if(player1Selection == ''){
        <p> {{this.currentGame?.player1Name}}</p>
        } @else {
        <p>{{this.currentGame?.player1Name}}: {{player1Selection}}</p>
        }
      </div>

      <div class="images d-flex flex-md-row flex-column">
        <img (click)="newMovement(1, 1)" src="assets/Images/RPS/rock.jpg" title="Rock">
        <img (click)="newMovement(1, 2)" src="assets/Images/RPS/hand.jpg" title="Paper">
        <img (click)="newMovement(1, 3)" src="assets/Images/RPS/scissors.jpg" title="Scissors">
      </div>
    </div>

    <div class="card mx-2 mx-md-5 scoreboard">
      <p class="text-nowrap">SCORE</p>
      <div class="score">
        <div class="d-flex align-items-center">
          @for (point of score; track $index) {
          <div class="circle-score"
            [style]="point == 1 ? 'background-color: #ff0000;' : point == 2 ? 'background-color: #3498db': 'background-color: #fffff'">
          </div>
          }
        </div>
      </div>
    </div>

    <div class="card d-flex align-center">
      <div class="game-card-header">
        @if(player1Selection == ''){
        <p> {{this.currentGame?.player2Name}}</p>
        } @else {
        <p>{{this.currentGame?.player2Name}}: {{player2Selection}}</p>
        }
      </div>
      <div class="images d-flex flex-md-row flex-column">
        <img (click)="newMovement(2, 1)" src="assets/Images/RPS/rock.jpg" title="Rock">
        <img (click)="newMovement(2, 2)" src="assets/Images/RPS/hand.jpg" title="Paper">
        <img (click)="newMovement(2, 3)" src="assets/Images/RPS/scissors.jpg" title="Scissors">
      </div>
    </div>
  </div>

  @if(this.showWinnerMessage){
  <div class="result mt-5">
    <h2> {{this.WinnerMessage}} </h2>
  </div>
  }


</div>