.responsive-image {
  max-width: 100%;
  height: auto;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.images img {
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Agrega una transición suave */
  width: 168px; height: 179px; overflow: hidden;
}

.scoreboard{
  padding: 10px;
}

.circle-score {
  margin-right: 3px;
  margin-left: 3px;
  width: 25px;
  height: 25px; 
  background-color: #ffff; 
  border-radius: 50%; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.game-card-header{
  font-weight: bold;
  margin: 0.5rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .scoreboard {
    margin: 10px;
  }

  .images img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    width: 108px; height: 119px; overflow: hidden;
  }

  .circle-score {
    margin-right: 3px;
    margin-left: 3px;
    width: 15px;
    height: 15px; 
    background-color: #ffff; 
    border-radius: 50%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }

  .game-card-header{
    width: 108px;
  }
}

.player-form {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 230px;
  margin: 30px;
}

.player-header-1 {
  background: #f84956;
}

.player-header-2 {
  background: #3498db;
}

.player-header-p {
  margin: 5px;
  color: black;
  font-weight: bold;
}

.circle {
  width: 15px; /* ajusta el tamaño del círculo según tus necesidades */
  height: 15px; /* ajusta el tamaño del círculo según tus necesidades */
  background-color: #ff0000; /* color del círculo */
  border-radius: 50%; /* asegura que el elemento tenga forma de círculo */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6); /* sombra del círculo */
}



.scoreboard p{
  font-weight: bold;
  text-align: center;
}


.turn {
  color: rgb(198, 3, 3);
  font-weight: bold;
}

.images img:hover {
  transform: translateY(-5px); /* Mueve la imagen hacia arriba al pasar el cursor */
}


